a {
	color: black;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.dropdown-trigger {
	cursor: pointer;
}

.navbar-burger {
	border: none;
	background-color: none;
	min-width: 40px;
}
.dropdown button {
	border: 0px;
}

.dropdown-divider {
	background-color: black;
}

.dropdown-item, .dropdown-content, {
	background-color: $primary;
	color: black;
}

.authContainer .card {
	background-color: $primary-white;
}

a.dropdown-item:hover, .menu-list a:hover,{
	background-color: darken($primary, 10%);
}

.menu-list a.is-active, a.is-active {
	background-color: darken($primary, 10%);
	font-size: 1.2rem;
}

.footer {
	background-color: $primary;
	padding: 1rem 1rem 1rem;
}

$family-sans-serif: "Roboto", sans-serif;

$family-primary: $family-sans-serif;
