#adminSideMenu {
	width: 200px;
	background-color: lighten($primary, 10%);
	height: 100%;
	bottom: 0;
	z-index:100;
}

#sidebarColumn {
	width: inherit;
	@include mobile {
		width: 0px;
	}
}

#slideoutButton, #slideoutButton i {
	position: absolute;
	left: 8rem;
	top: 1.25rem;
	transition: 0.3s;
	&.is-active {

	}
}



.adminTable {
	max-width: 100%;
}
